#base {
  margin-top: 90px;
  height: 20000px;
  background-image: linear-gradient(#F2F9FF,white);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#title {
  box-sizing: border-box;
  padding-top: 75px;
}

#title h1 {
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;;
  color: rgb(26, 46, 59);
  font-size: 75px;
  line-height: 80px;
  letter-spacing: -2px;
  margin-bottom: 15px;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: rgb(26, 46, 59);
  opacity: 0.7;
  font-weight: lighter;
  font-size: 20px;
}

#front_buttons{
  padding-top: 40px;
  display: flex;
}

#linkedin_splash, #portfolio_splash{
  width: 140px;
  height: 50px;
  border: 1px;
  margin-left: 10px;
  margin-right: 10px;
  border-style: solid;
  border-color: #BBC6CE;
  border-radius: 3px;
  color: rgb(26, 46, 59);
  font-size: 16px;
  font-weight: 500;
  background-color: #f2f8ff;
  cursor: pointer;
}

#linkedin_splash {
  color: white;
  background-color: #5077a7;
  transition: 0.4s;
}

#linkedin_splash:hover {
  background-color: #44658d;
}

#portfolio_splash:hover{
  border-color: black;
}
// #center_main {
// }

#center_main > img {
  width: 537px;
  height: 537px;
  position: absolute;
  top: 645px;
  left: 0px;
  z-index: 0;
}

#center_main > video {
  position: relative;
  width: auto;
  height: 800px;
  background-color: lightgreen;
  z-index: 1;
}